<div class="mb-4">
    <p class="text-3xl">
      Hey there 👋, I am Mayank Mehta.  
    </p>
  </div>

<div class="mb-4">
<p class="text-justify">
    I will graduate from the University of Michigan <em>(go blue!)</em> 
    in the summer of 2025. I work as a graduate researcher at the 
    <a href="https://www.freelaboratory.org/" class="font-bold">FREE Lab</a> on the
    development of a semi-active hand-tremor supression device using techniques from the field of
    soft robotics. My undergraduate background in <b>Electronics and Communication Engineering</b>
    combined with my Master's in <b>Mechanical Engineering</b> equips me with a broad range of tools that 
    I aim to leverage in the next stage of my professional career. Specifically, my background in robotics, 
    controls engineering, and mechanical design make me an ideal candidate for new product development and 
    R&D engineering roles.
</p>
</div>