---
title: Portfolio
layout: layouts/base.njk
permalink: /portfolio/
eleventyNavigation:
  key: Portfolio
  order: 1
---

<div class="max-w-5xl mx-auto p-4">

  {% set common_config = "mb-4 p-4 rounded-lg shadow-lg bg-zinc-50 
                          hover:bg-zinc-200 dark:bg-slate-700 hover:dark:bg-slate-500 
                          flex flex-col justify-start items-center text-center gap-6
                          relative h-60 overflow-hidden" %}

  <div class="grid grid-cols-4 gap-4">
    {% for project in collections.projects | sort(attribute='data.grid_num') %}
      <a href="{{ project.url | url }}">
        <div class="{{common_config}}">
           <p class="text-xl">{{ project.data.title }}</p> 
           <p>{{ project.data.description }}</p>
            {# Add images #}
        </div>
      </a>
    {% endfor %}
  </div>

</div>