<div class="mb-4">
    <p class="text-3xl">
      Hey there 👋
    </p>
  </div>

<div class="mb-4">
<p class="text-justify">
	I'm a roboticist and controls engineer passionate about designing integrated hardware and software systems. My experience spans underwater, medical, and soft robotics—from conceptualization through prototyping and deployment. With a Master's degree in <em>Mechanical Engineering</em> and undergraduate background in <em>Electronics and Communication Engineering</em>, I bring a multidisciplinary approach to solving complex robotic systems challenges. I apply these skills in both robotics R&D and industrial automation.
</p>
</div>