<div class="mb-4">
    <p class="text-3xl">
      Hey there 👋, I am Mayank Mehta.  
    </p>
  </div>

<div class="mb-4">
<p class="text-justify">
    I will graduate from the University of Michigan <em>(go blue!)</em> 
    in the summer of 2025. Presently, I work as a Graduate Student Instructor for two graduate level courses 
    in the Department of Mechanical Engineering. Previously, as a graduate 
    researcher at the <strong><a href="https://www.freelaboratory.org/">FREE Lab</a></strong> I led and explored
    the development of a semi-active hand-tremor supression device using techniques from the field of
    soft robotics. My undergraduate background in <em>Electronics and Communication Engineering</em>
    combined with my Master's in <em>Mechanical Engineering</em> equips me with a broad range of tools that 
    I aim to leverage in the next stage of my professional career. Specifically, my background in 
    <strong><u>robotics</u></strong>, <strong><u>controls engineering</u></strong>, and 
    <strong><u>mechanical design</u></strong> make me an ideal candidate for new product development and 
    R&amp;D engineering roles. 
</p>
</div>