<div class="mb-4">
    <p class="text-3xl">
      Hey there 👋, I am Mayank Mehta.  
    </p>
  </div>

<div class="mb-4">
<p class="text-justify">
	I work at the intersection of hardware and software sub-systems. For the past few years, I invested my 
	energy in familiarizing myself with the tools used to build underwater, medical, and soft robots. During this period,
	I primarily developed proof-of-concepts and prototypes. Presently, I am exploring how to build processes and plants, capable of
	recycling lithium batteries. My undergraduate background in <em>Electronics and Communication Engineering</em>
    combined with my Master's in <em>Mechanical Engineering</em> equips me with a broad range of tools that 
    I aim to leverage in my professional career.
</p>
</div>