---
title: About
layout: layouts/base.njk
showH1Title: false
eleventyNavigation:
  key: About
  order: 0
---

<div class="max-w-5xl mx-auto p-4">
  <img src="/img/mayanknm.jpg" alt="Mayank Mehta" class="float-right m-4 w-1/5 h-auto">

  {% include "./pages/about/1_self_intro.njk" %}
  {% include "./pages/about/2_pro_journey.njk" %}
  {% include "./pages/about/3_tools.njk" %}
  {% include "./pages/about/4_acad_journey.njk" %}
  
</div>